{% extends 'base.html.twig' %}

{% block stylesheets %}
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    thead tr {
      background-color: #f2f2f2;
    }

    td, th {
      border: 1px solid #ddd;
      text-align: left;
      padding: 8px;
    }

    a {
      color: blue;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .delete {
      background-color: red;
      color: white;
      border: none;
      padding: 6px 12px;
      cursor: pointer;
    }

    .delete:hover {
      background-color: darkred;
    }
  </style>
{% endblock %}

{% block body %}
  <h1>Product list</h1>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for i in 0..(product|length-1) %}
        <tr>
          <td><a href="{{ path('product_show', { 'id': product[i].id }) }}">  {{ product[i].id }}</a></td>
          <td>{{ product[i].name }}</td>
          <td>{{ product[i].price }}</td>
          <td>{{ product[i].quantity }}</td>
          <td>{{ product[i].Category.name }}</td>
          <td>
            <ul>
              <li>
                <a href="{{ path('product_show', { 'id': product[i].id }) }}" >Show</a>
              </li>
              <li>
                <a href="{{ path('product_edit', { 'id': product[i].id }) }}" >Edit</a>            
              </li>
              <li >     
               <a href="{{ path('product_delete', {'id': product[i].id}) }}" class='delete'>Delete</a>                                                                                                 
              </li>                            
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <ul>
    <li>
     <button onclick="location.href='{{ path('product_new') }}'" style="background-color: blue; 
          border: none; color: yellow; text-decoration: underline; cursor: pointer;">Create a new product</button>
    </li>
  </ul>
{% endblock %}
